<mat-toolbar class="sticky-toolbar custom-toolbar">
    <img src="assets/portfolio2.svg" alt="logo">
    <span style="padding-left: 10px;">Portfolio</span>
    <span class="spacer"></span>
    <mat-menu #menu>
      <a mat-menu-item *ngFor="let item of menuItems" [href]="item.link">
        <div class="mat-body-medium">{{ item.label }}</div>
      </a>
    </mat-menu>
  
    <div class="menu-items">
      <a mat-button *ngFor="let item of menuItems" [href]="item.link">
        <div class="mat-body-medium">{{ item.label }}</div>
      </a>
    </div>
  
    <div class="theme-icon">
      <mat-icon aria-hidden="false" aria-label="toggle theme"
                [fontIcon]="theme === 'dark' ? 'dark_mode' : 'light_mode'" (click)="toggleTheme()">
      </mat-icon>
    </div>

    <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-button">
        <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>