<div class="contact-container">
    <div class="pb-3 mat-body-large">Phone : +959456533842 </div>
    <div class="contact-icons">
        <a href="mailto:ant.pwt@gmail.com" class="contact-icon my-icon" title="Email">
            <i class="fas fa-envelope"></i>
        </a>
        <a href="https://www.facebook.com/profile.php?id=100069842146880&mibextid=ZbWKwL" target="_blank" class="my-icon" title="Facebook">
            <i class="fab fa-facebook"></i>
        </a>
        <a href="https://www.linkedin.com/in/aung-naing-tun-269601212" target="_blank" class="my-icon" title="LinkedIn">
            <i class="fab fa-linkedin"></i>
        </a>
    </div>
</div>
