.contact-container {
    width: 80%;
    max-width: 300px;
    margin: 0 auto;
    padding: 0 20px;
    border-radius: 10px;
    text-align: center;
}


.contact-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.contact-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.my-icon {
    font-size: 30px;
    text-decoration: none;
    transition: transform 0.3s;
    color: #005f6f;
}


.my-icon:hover {
    transform: scale(1.2);
}
