<div class="contact-container">
    <div class="contact-icons">
        <a href="mailto:ant.pwt@gmail.com" class="contact-icon email-icon" title="Email">
            <i class="fas fa-envelope"></i>
        </a>
        <a href="https://www.facebook.com/profile.php?id=100069842146880&mibextid=ZbWKwL" target="_blank" class="contact-icon facebook-icon" title="Facebook">
            <i class="fab fa-facebook"></i>
        </a>
        <a href="https://www.linkedin.com/in/aung-naing-tun-269601212" target="_blank" class="contact-icon linkedin-icon" title="LinkedIn">
            <i class="fab fa-linkedin"></i>
        </a>
        <!-- <a href="https://www.tiktok.com/@yourtiktok" target="_blank" class="contact-icon tiktok-icon" title="TikTok">
            <i class="fab fa-tiktok"></i>
        </a> -->
    </div>
</div>
