<header>
  <nav class="my-navbar">
    <a href="#" class="my-navbar-brand mat-title-large">My Portfolio</a>
    <div class="navbar-header">
      <div class="navbar-toggle" (click)="toggleMenu()">
        <div class="menu-icon">
          <mat-icon aria-hidden="false" aria-label="menu icon" fontIcon="menu">menu</mat-icon>
        </div>
      </div>
    </div>

    <div class="df-jc-ac">
      <ul class="navbar-menu" [class.active]="isMenuOpen">
      <li><a href="#about" (click)="closeMenu()">About</a></li>
      <li><a href="#experiences" (click)="closeMenu()">Experiences</a></li>
      <li><a href="#projects" (click)="closeMenu()">Projects</a></li>
      <li><a href="#contact" (click)="closeMenu()">Contact</a></li>
    </ul>
     <!-- Theme Toggle Icon -->
     <div class="theme-icon">
      <mat-icon aria-hidden="false" aria-label="toggle theme" [fontIcon]="theme === 'dark' ? 'light_mode' : 'dark_mode'"
        (click)="toggleTheme()">
      </mat-icon>
    </div>
    </div>
  </nav>
</header>