/* Basic Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Header and Navbar Styling */
header {
  background-color: #2c3e50;
  padding: 10px 20px;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap; /* Prevent wrapping */
}

.navbar-header {
  display: flex;
  align-items: center;
  flex-shrink: 0; /* Prevent the brand from shrinking */
}

.navbar-brand {
  color: #ecf0f1;
  text-decoration: none;
  // font-size: 26px;
  font-weight: bold;
  margin-right: 20px; /* Space between brand and menu */
  white-space: nowrap; /* Prevents brand from wrapping */
}

.navbar-menu {
  display: flex;
  align-items: center;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  flex-grow: 1; /* Allows the menu to take available space */
  justify-content: flex-end; /* Aligns menu items to the right */
}

.navbar-menu li {
  margin: 0 15px;
}

.navbar-menu li a {
  font-family: 'Lato';
  color: #ecf0f1;
  text-decoration: none;
  padding: 10px 15px;
  font-weight: 500;
  transition: color 0.3s, background-color 0.3s;
  border-radius: 5px;
}

.navbar-menu li a:hover {
  background-color: #3498db;
  color: #ffffff;
}

/* Mobile responsiveness */
.navbar-toggle {
  display: none; /* Hidden by default */
  // font-size: 30px;
  background: none;
  border: none;
  color: #ecf0f1;
  cursor: pointer;
  transition: color 0.3s;
  margin-left: auto;
}

.navbar-toggle:hover {
  color: #3498db;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; /* Align items to the left */
  }

  .navbar-header {
    width: 100%;
    display: flex;
    justify-content: space-between; /* Keeps the brand and toggle button apart */
    padding: 0;
  }

  .navbar-menu {
    flex-direction: column;
    display: none; /* Hidden by default */
    width: 100%;
    background-color: #2c3e50;
    padding: 10px 0;
  }

  .navbar-menu.active {
    display: flex; /* Show menu when active */
  }

  .navbar-menu li {
    text-align: center;
    margin: 10px 0;
  }

  .navbar-toggle {
    display: block; /* Show the toggle button */
  }
}
