<header>
  <nav class="navbar">
    <div class="navbar-header">
      <a href="#" class="navbar-brand mat-title-large">My Portfolio</a>
      <div class="navbar-toggle" (click)="toggleMenu()">
        <div class="menu-icon">
          <mat-icon aria-hidden="false" aria-label="menu icon"  fontIcon="menu">menu</mat-icon>
        </div>
      </div>
    </div>
    <ul class="navbar-menu" [class.active]="isMenuOpen">
      <li><a href="#about" (click)="closeMenu()">About</a></li>
      <li><a href="#experiences" (click)="closeMenu()">Experiences</a></li>
      <li><a href="#projects" (click)="closeMenu()">Projects</a></li>
      <li><a href="#contact" (click)="closeMenu()">Contact</a></li>
    </ul>
  </nav>
</header>
