<div>
    <ul>
        <li><a href="#about">About</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
</div>
<div class="container">
    <div style="margin-left: 5%; margin-right: 5%;">
    <section id="about">
        <div class="aboutme">
            <div><img src="assets/sc.jpg" alt="Your Photo" class="profile-photo"></div>
            <div class="p-3">
                <h3 class="logan-text">I'm Aung Naing Tun</h3>
                <p>Hello! I'm [Your Name], a passionate web developer with experience in creating beautiful and
                    functional websites.</p>
            </div>
        </div>
    </section>
    <section id="projects">
        <h2>Projects</h2>
        <div class="project">
            <h3>Project 1</h3>
            <p>Description of project 1.</p>
        </div>
        <div class="project">
            <h3>Project 2</h3>
            <p>Description of project 2.</p>
        </div>
    </section>
    <section id="contact">
        <h2>Contact</h2>
        <p>Email: <a href="mailto:your.emaample.com">your.emaxample.com</a></p>
    </section>
    </div>
</div>
