<div>
    <div class="header-list">
        <ul>
            <li><a href="#about">About</a></li>
            <li><a href="#experiences">Experiences</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </div>
</div>
<div class="container my-container">
        <!-- ----------😎 about me 😎----------  -->
        <div class="about-me">
            <section id="about" class="my-shadow">
                <div class="aboutme">
                    <div><img src="assets/sc.jpg" alt="Your Photo" class="profile-photo"></div>
                    <div class="p-3">
                        <h3 class="logan-text">{{iam}}</h3>
                        <p>{{aboutme}}</p>
                    </div>
                </div>
            </section>
        </div>
        <!-- ----------😎 experience list 😎----------  -->
        <div class="experience-list">
            <h3 class="text-center">My Experiences</h3>
            <app-experiences-list id="experiences"></app-experiences-list>
        </div>
        <!-- ---------- project list ----------  -->
        <div class="project-list">
            <h3 class="text-center">My Projects</h3>
            <div class="grid-container">
                <div class="grid-item my-shadow" *ngFor="let project of projects">
                    <h2>{{ project.title }}</h2>
                    <p>{{ project.description }}</p>
                    <div class="language-badges">
                        <span *ngFor="let language of project.languages" class="badge">{{ language }}</span>
                    </div>
                   <!--  <a class="view-project-button" [href]="project.link" target="_blank">View Project</a> -->
                </div>
            </div>
                    
        </div>

        <!-- ---------- contact ----------  -->
        <div class="contact-list">
            <h3 class="text-center pt-4">Contact</h3>
            <section id="contact" class="my-shadow">
                <p>Email: <a href="mailto:your.emaample.com">your.emaxample.com</a></p>
            </section>
        </div>
</div>