<div class="home-container">
    <app-navbar></app-navbar>
    <div class="soft-background" id="about">
        <!-- ----------😎 about me 😎----------  -->
        <div class="about-me ptop container pt-5">
            <div class="responsive-text py-4">Welcome to my portfolio, I hope you're having a Great {{getGreeting()}}!
            </div>
            <div class="my-card">
                <div class="aboutme">
                    <div><img src="assets/me.jpg" alt="Me" class="profile-photo" style="object-fit: cover;"></div>
                    <div class="aboutme-text">
                        <div class="logan-text mat-display-medium">{{iam}}</div>
                        <p class="mat-body-large">{{aboutme}}</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- ----------😎 experience list 😎----------  -->
        <div class="experience-list container ptop" id="experiences">
            <h3 class="text-center mat-headline-large fw-500">Work Experiences</h3>
            <app-experiences-list></app-experiences-list>
        </div>
    </div>
    <div class="white-background">
         <!-- ---------- project list ----------  -->
         <div class="project-list container inner-white-container" id="projects">
            <div class="text-center mat-headline-large">My Projects</div>
            <div class="grid-container">
                <div class="my-card-no-shadow" *ngFor="let project of projects">
                    <div class="mat-title-medium py-2">{{getCapital(project.development)}}</div>
                    <div class="mat-title-large py-2" style="font-weight: 600;">{{ project.title }}</div>
                    <div class="mat-body-medium t-justfiy py-4">{{ project.description }}</div>
                    <div class="language-badges">
                        <span *ngFor="let language of project.languages" class="all-language badge mat-label-large">{{
                            language }}</span>
                    </div>
                    <a [href]="project.link" class="github-link" target="_blank">View on GitHub</a>
                </div>
            </div>
        </div>

        <!-- ---------- contact ----------  -->
        <div class="contact-list ptop">
            <div class="text-center mat-headline-large pt-4">Contact</div>
            <div id="contact">
                <app-contacts></app-contacts>
            </div>
        </div>
    </div>
</div>