@use '@angular/material' as mat;
@use './app/lighttheme.scss';
@use './app/darktheme.scss';
@include mat.core();
@import "_variable";

$lightTheme: lighttheme.$light-theme;
$darkTheme: darktheme.$dark-theme;



@mixin theme-common($bg-color, $text-color) {

    body {
        background-color: $bg-color;
        color: $text-color;
    }
}


//===================default dark theme================
:root {
    @include mat.all-component-themes($darkTheme);
    @include theme-common($main-dark-bg-color, $main-dark-color);
}


// ============ light theme =====================
.light-theme {
    @include mat.all-component-colors($lightTheme);
    @include theme-common($main-light-bg-color, $main-light-color);
}

@include mat.color-variants-backwards-compatibility($darkTheme);
@include mat.typography-hierarchy($darkTheme);


html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: $devsite-primary-font-family;
}

.fw-500 {
    font-weight: 500;
}

.fw-700 {
    font-weight: 900 !important;
}

.t-justfiy {
    text-align: justify;
}

.aboutme-text {
    padding-left: 40px;
}

.contact-list {
    padding-bottom: 20px;
}

.experience-list {
    margin: 1rem 0;
}

p {
    line-height: 1.6;
    text-align: justify;
    text-indent: $text-indent;
    letter-spacing: 1.5px;
}

.github-link {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: $primary-color;
    font-weight: 600;
    font-size: 0.95em;
}

.github-link:hover {
    text-decoration: underline;
}

.project-section-title {
    font-size: 1.2em;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 5px;
}

.container {
    margin: 2rem auto;
    max-width: 1200px;
}

.profile-photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 1rem;
}

.aboutme {
    display: flex;
    align-items: center;
}

.logan-text {
    // font-size: 2.1rem;
    font-weight: 900;
    background: linear-gradient(45deg, #11cde6, #e70892, #220ce0);
    color: transparent;
    -webkit-background-clip: text;
    background-size: 200% 200%;
    animation: gradient-animation 6s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* Grid container for the projects */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* Responsive columns */
    grid-gap: 20px;
    margin-top: 20px;
}

/* Grid item styling */
.grid-item {
    border-radius: $main-border-radius;
    padding: 15px;
    text-align: center;
}

/* Image inside the grid item */
.grid-item img {
    max-width: 100%;
    border-radius: 8px;
}

/* Title inside the grid item */
.grid-item h2 {
    margin: 10px 0;
}

.language-badges {
    margin: 10px 0;
}

.chip-container {
    margin: 5px 3px;
}

.experience-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}


.job-title {
    margin-bottom: 15px;
}

.responsibilities {
    list-style-type: disc;
    padding-left: 20px;
}

.responsibilities li {
    margin-bottom: 8px;
}

.df-jc-ac {
    display: flex;
    justify-content: center;
    align-items: center;
}

.theme-icon {
    margin: 0;
    padding: 0;
    width: 24px;
    height: 24px;
}

.my-menu {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

///========================================media======================
/* Mobile Responsiveness */
@media screen and (max-width: 768px) {
    .aboutme {
        flex-direction: column;
        align-items: center;
    }

    .aboutme-text {
        padding-left: 0px;
    }

    .job {
        text-align: center;
    }
}

@media (max-width: 576px) {
    ul {
        flex-direction: column;
    }

    ul li {
        margin: 0.5rem 0;
    }

    .aboutme {
        flex-direction: column;
        align-items: center;
    }

    .profile-photo {
        margin-bottom: 2rem;
    }

    .grid-container {
        grid-template-columns: 1fr;
    }
}

/* Default for larger screens */
.responsive-text {
    font-weight: 800;
    font-size: 3.5rem;
    line-height: 74px;
    font-weight: 700 !important;
    text-align: center;
    padding: 1rem;
}

@media (max-width: 992px) {
    .responsive-text {
        font-size: 3rem;
    }
}

@media (max-width: 768px) {
    .responsive-text {
        font-size: 2.5rem;
        line-height: 50px;
    }
}

@media (max-width: 576px) {
    .responsive-text {
        font-size: 2.2rem;
        line-height: 50px;
        line-height: 45px;
    }
}