<div class="ex-container">
  <div class="experience-card my-shadow" *ngFor="let experience of experiences">
    <h2 class="job-title">{{ experience.jobTitle }}</h2>
    <div class="section">
      <h3>Responsibilities</h3>
      <ul class="responsibilities">
        <li *ngFor="let responsibility of experience.responsibilities">{{ responsibility }}</li>
      </ul>
    </div>
    <div class="section">
      <h3>Technologies</h3>
      <p>{{ experience.technologies.join(', ') }}</p>
    </div>
  </div>
</div>