
  
  .ex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
  
  .experience-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    overflow: auto;
  }
  
  .job-title {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
  
  .section {
    margin-bottom: 15px;
  }
  
  .section h3 {
    color: #555;
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .responsibilities {
    list-style-type: disc;
    padding-left: 20px;
    color: #666;
  }
  
  .responsibilities li {
    margin-bottom: 8px;
  }
  
  .card p {
    color: #555;
    margin: 0;
    font-size: 1rem;
  }
  