<div class="ex-container">
  <!-- Job Title and Date -->
  <div class="job">
    <div class="job-title mat-title-large">
      {{ experiences.jobTitle }}
    </div>
    <div class="mat-body-large" style="color: #777;">
      ({{ experiences.fromDate }} to {{ experiences.toDate }})
    </div>
  </div>

  <div class="experience-grid pt-3">
    <!-- Backend Card -->
    <mat-card appearance="raised" *ngIf="experiences.responsibilities.backend.responsibilities.length">
      <mat-card-content>
        <div >
          <div class="mat-headline-small fw-500">Backend</div>
          <div>
            <strong>Responsibilities:</strong>
            <ul class="responsibilities">
              <li *ngFor="let item of experiences.responsibilities.backend.responsibilities"
                class="mat-body-large t-justify">
                {{ item }}
              </li>
            </ul>
          </div>
          <!-- Tech -->
          <!-- <div class="language-badges">
        <span *ngFor="let tech of experiences.responsibilities.backend.technologies"
          class="all-language badge mat-label-large">
          {{ tech }}
        </span>
      </div> -->
        </div>
      </mat-card-content>
    </mat-card>

    <!-- Frontend Card -->
    <mat-card *ngIf="experiences.responsibilities.frontend.responsibilities.length">
      <mat-card-content>
        <div >
          <div class="mat-headline-small fw-500">Frontend</div>
          <div>
            <strong>Responsibilities:</strong>
            <ul class="responsibilities">
              <li *ngFor="let item of experiences.responsibilities.frontend.responsibilities"
                class="mat-body-large t-justify">
                {{ item }}
              </li>
            </ul>
          </div>
          <!-- Tech -->
          <!-- <div class="language-badges">
        <span *ngFor="let tech of experiences.responsibilities.frontend.technologies"
          class="all-language badge mat-label-large">
          {{ tech }}
        </span>
      </div> -->
        </div>
      </mat-card-content>
    </mat-card>



    <!-- Database Card -->
    <mat-card *ngIf="experiences.responsibilities.database.responsibilities.length">
      <mat-card-content>
        <div>
          <div class="mat-headline-small fw-500">Database</div>
          <div>
            <strong>Responsibilities:</strong>
            <ul class="responsibilities">
              <li *ngFor="let item of experiences.responsibilities.database.responsibilities"
                class="mat-body-large t-justify">
                {{ item }}
              </li>
            </ul>
          </div>
          <!-- Tech -->
          <div class="language-badges">
            <span *ngFor="let tech of experiences.responsibilities.database.technologies"
              class="all-language badge mat-label-large">
              {{ tech }}
            </span>
          </div>
        </div>
      </mat-card-content>
    </mat-card>





  </div>
</div>