<div class="ex-container">
  <div class="experience-card my-shadow" *ngFor="let experience of experiences">
    <div class="job-title mat-title-large">
      {{ experience.jobTitle }}
      <span class="mat-body-medium">({{ experience.fromdate }} to {{experience.todate}})</span>
    </div>
    <div class="section">
      <div class="mat-headline-small fw-500">Responsibilities</div>
      <ul class="responsibilities">
        <li *ngFor="let responsibility of experience.responsibilities" class="mat-body-large">{{ responsibility }}</li>
      </ul>
    </div>
    <div class="section">
      <div class="mat-headline-small fw-500">Technologies</div>
      <div class="mat-label-large">{{ experience.technologies.join(', ') }}</div>
    </div>
  </div>
</div>